.adbtn {
  width: 70px;
  background: $pink;
  color: white;
  border-right: 1px solid black;
}

.adbtn2 {
  min-width: 100px;
  background: $pink;
  color: white;
}

.card-title {
  color: $pink;
}

.sign {
  color: $grey;
  font-style: italic;
}

.hot-ads {
  img {
    height: 250px;
  }
}

.pricing {
  align-self: flex-end;
}

.btn-collect {
  color: $pink;
}
