.adbtn {
  width: 70px;
  background: $pink;
  color: white;
  border-right: 1px solid black;
}

.adbtn2 {
  min-width: 100px;
  background: $pink;
  color: white;
}

.card-title {
  color: $pink;
}

.sign {
  color: $grey;
  font-style: italic;
}

.hot-ads {
  img {
    height: 300px;
    object-fit: cover;
  }
}

.pricing {
  align-self: flex-end;
}

.btn-collect {
  color: $pink;
}

.controlche {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid $grey;
  border-radius: 50%;
  color: $pink;

  &:hover {
    text-decoration: none;
    color: white;
    background: $dark;
  }
}

.chevron {
  display: flex;
  justify-content: center;
  align-items: center;
}
