@charset "UTF-8";
@font-face {
  font-family: "Conv_GothamBold";
  src: url("../fonts/GothamBold/");
  src: local("☺"), url("fonts/GothamBold.woff") format("woff"), url("fonts/GothamBold.ttf") format("truetype"), url("fonts/GothamBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_GothamLight";
  src: url("fonts/GothamLight.eot");
  src: local("☺"), url("fonts/GothamLight.woff") format("woff"), url("fonts/GothamLight.ttf") format("truetype"), url("fonts/GothamLight.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_HelveticaNeueBd";
  src: url("fonts/HelveticaNeueBd.eot");
  src: local("☺"), url("fonts/HelveticaNeueBd.woff") format("woff"), url("fonts/HelveticaNeueBd.ttf") format("truetype"), url("fonts/HelveticaNeueBd.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_HelveticaNeueLt";
  src: url("fonts/HelveticaNeueLt.eot");
  src: local("☺"), url("fonts/HelveticaNeueLt.woff") format("woff"), url("fonts/HelveticaNeueLt.ttf") format("truetype"), url("fonts/HelveticaNeueLt.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_HelveticaNeueMed";
  src: url("fonts/HelveticaNeueMed.eot");
  src: local("☺"), url("fonts/HelveticaNeueMed.woff") format("woff"), url("fonts/HelveticaNeueMed.ttf") format("truetype"), url("fonts/HelveticaNeueMed.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  background: #383838;
}

.logo-text {
  color: white;
  font-family: "Conv_GothamBold", sans-serif;
  font-weight: 700;
}

.btn-nav {
  background: #d35266;
  color: white;
}

header {
  height: 50vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(221, 121, 136, 0.7)), color-stop(72%, rgba(236, 213, 216, 0.7)), color-stop(81%, rgba(238, 224, 226, 0.7)), color-stop(94%, rgba(241, 241, 241, 0.7))), url("../img/wallpaper.jpg");
  background: linear-gradient(to bottom, rgba(221, 121, 136, 0.7) 0%, rgba(236, 213, 216, 0.7) 72%, rgba(238, 224, 226, 0.7) 81%, rgba(241, 241, 241, 0.7) 94%), url("../img/wallpaper.jpg");
  background-size: cover;
}

.left-border {
  border-left: 1px solid #d35266;
}

.control-slide {
  border: 1px solid #888;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #d35266;
  margin: 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.control-slide:hover {
  text-decoration: none;
  color: #d35266;
}

.adbtn {
  width: 70px;
  background: #d35266;
  color: white;
  border-right: 1px solid black;
}

.adbtn2 {
  min-width: 100px;
  background: #d35266;
  color: white;
}

.card-title {
  color: #d35266;
}

.sign {
  color: #888;
  font-style: italic;
}

.hot-ads img {
  max-height: 280px;
}

.pricing {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body {
  font-family: "Conv_HelveticaNeueLt", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/*# sourceMappingURL=style.css.map */