$pink: #d35266;
$grey: #888;
$dark: #383838;

@import "fonts";
@import "navbar";
@import "header";
@import "main";
@import "collectables";

body {
  font-family: "Conv_HelveticaNeueLt", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
