$pink: #d35266;
$grey: #888;
$dark: #383838;

@import "fonts";
@import "navbar";
@import "header";
@import "main";
@import "collectables";
@import "footer";
@import "bottom";
@import "results";

body {
  font-family: "Conv_HelveticaNeueLt", "Lucida Sans", sans-serif;
}
